*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.Nav{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1;
}

#brand{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 5px;
    padding: 20px 0px 0px 20px;
}

.carousel .carousel-item{
    width: 50%;
    text-align: center;
    padding-bottom: 400px;
}

.Model{
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.title{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section{
    height: 100vh;
    background-color: #ffffff;;
    scroll-snap-align: start;
    
}

.section:nth-child(1){
    background: url("../Images/sec-1.png");
    background-attachment: fixed;
}
.section:nth-child(2){
    background: url("../Images/sec-2.png");
    background-attachment: fixed;
}
.section:nth-child(3){
    background: url("../Images/sec-3.png");
    background-attachment: fixed;
}


